Nombre Grupo: ASANCHEZ
División: 314
Fecha: {{ ansible_date_time.date }}
--------------------------
Distribución: {{ ansible_distribution }} {{ ansible_distribution_version }}
Cantidad de Cores: {{ ansible_processor_vcpus }}
--------------------------
R1: Nombre: Agustin  Apellido: Sanchez
R2: Nombre: <Nombre> Apellido: <Apellido>
R3: Nombre: Fabricio Apellido: Papetti
R4: Nombre: <Nombre> Apellido: <Apellido>
R5: Nombre: <Nombre> Apellido: <Apellido>
R6: Nombre: <Nombre> Apellido: <Apellido>
